.background-img {
    background-image: url(https://lolstatic-a.akamaihd.net/rso-login-page/3.1.5/assets/valorant_desktop_background_2x.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}
